* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Comic Sans MS', sans-serif;
}
body {
  height: 100vh;
  background: url("photos/fond.png") no-repeat center / cover;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  width: 360px;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 85%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 30px;
  padding: 25px 20px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0,0,0,0.15);
  animation: appear 0.8s ease;
  will-change: transform, opacity;
  transform: translateZ(0);
}
.star {
  width: 70px;
  margin-bottom: 10px;
  animation: pulse 2s infinite;
  will-change: transform;
  transform: translateZ(0);
}
h1 {
  font-size: 26px;
  color: #7a00ff;
  margin-bottom: 10px;
}
.mascot {
  width: 120px;
  margin: 10px 0 15px;
  animation: float 3s ease-in-out infinite;
  will-change: transform;
  transform: translateZ(0);
}
.subtitle {
  font-size: 15px;
  color: #9a4cff;
  margin-bottom: 18px;
}
input {
  width: 100%;
  padding: 14px;
  border-radius: 18px;
  border: 2px solid #d8b6ff;
  font-size: 16px;
  text-align: center;
  outline: none;
  margin-bottom: 20px;
}
input:focus {
  border-color: #7a00ff;
}
button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #ff9ad5, #c77dff);
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.07);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.exit {
  animation: slideOut 0.6s ease forwards;
  will-change: transform, opacity;
}
@keyframes slideOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9) translateY(-30px);
  }
}
